@import url('https://front.googleapis.com/css2?family=font-name&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #582C4D;
    --secondary-color: #A26769;
    --accent1-color: #D5B9B2;
    --accent2-color: #ECE2D0;


    --heading-font: '', serif;
    --paragraph-font: '', serif;

    --nav-background-color: #red;
    --nav-link-color: #green;
    --nav-hover-link-color: #gold;
    --nav-hover-background-color: #black;

}

body {
    font-family: var(white);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(grey);
    color: var(bisque);
}

header {
    padding: 20px;
    background-color: vara(aqua) ;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: vara(--nav-hover-background-color);
}